* {
    padding: 0;
    margin: 0;
}
.w {
    margin: 0 auto;
    width: 1024px;
}
#header-top {
    height: 48px;
    background-color: #323232;
}
#header-top .home-top {
    line-height: 48px;
}
#main {
    width: 1024px;
    height: 290px;
    overflow: hidden;
}
